
<h1>Chat</h1>

<div>
    <input id="chatbox" type="text">
</div>

<div id="messageLogs">

</div>

<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10/dist/sweetalert2.all.min.js
"></script>
<script type="module" src="/socket.io/socket.io.js"></script>
<script  type="module" src="/js/chat.js"></script>
