
    <div>
        <h1>Reset Password</h1>
        <form action="/api/auth/forgot-password" method="POST">
            <input type="email" name="email" placeholder="Enteryour email" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>