<div >
    <h2>{{description}}</h2>

    <h1>Login</h1>
    <form action="/api/auth/login" method="post" class="form-group w-50">       
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control">
        <label class="form-label">Password</label>
        <input type="text" name="password" class="form-control">
        <input class="btn btn-outline-dark mt-3 w-100" type="submit">
    </form>

    <br>
    
    <span> Si no tienes cuenta <a href="/register" class="button">Regístrate</a></span>
    <br>
    <br>
    <a href="/api/auth/github" class="button">Ingresa con Github</a>

</div>

<script type="module" src="/js/cleanUrlParams.js"></script>